


.App {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.Main {
  display: flex;
  flex-wrap: wrap;
}

.todolist {
  width: 200px;
  text-align: start;
  padding: 30px;
  border: 2px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 0 20px rgb(229, 208, 208);
  margin: 50px auto;
}


.header {
  text-align: start;
  height: 50px;
  background-color: rgb(229, 208, 208);

}